* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--ptp-background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
:root {
  --ptp-background: #003049;
  --ptp-shadow: #d62828;
  --ptp-border: #f77f00;
  --ptp-sunflower: #fcbf49;
  --ptp-text: #eae2b7;
}
.word-mark h1 {
  width: 100%;
  margin: 2rem;
}
nav {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--ptp-border);
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav ul li a {
  color: var(--ptp-text);
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
#About {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 4rem;
  align-items: center;
  padding: 2rem;
  justify-items: center;
  align-items: center;
}
#About h1 {
  font-size: 2rem;
}
#About img {
  width: 400px;
  height: auto;
  border-radius: 150%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#AboutMe img{
    height: 400px;
    width: 400px;
    display: flex;
    border-radius: 12%;
    margin: 5%;
    align-content: center;
    object-fit: cover;

}
#AboutMe {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 5rem;
   
}
#AboutMe h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  
}
#AboutMe p {
    font-family:"Roboto";
    font-size: 1.2rem;
    line-height: 2rem;
    max-width: 700px;
}
#projects {
    padding: 5rem;
    background: #003049;
    color: white;
}
#projects h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
#projects .projects-text {
  text-align: center;
  max-width: 800px;
  margin: auto;
  line-height: 1.8rem;
  margin-bottom: 4rem;
  color: #cfcfcf;
  font-family: "Roboto";
  font-size: larger;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr));
  gap: 2rem;
}
.project-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.4s ease;
}

.project-card img:hover {
  transform: scale(1.03);
}
.project-card:nth-child(3) {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
}
.project-card:nth-child(3) img {
  width: 50%;
  height: auto;
}